*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shape{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

    
